.background {
  background: url('https://demos.creative-tim.com/otis-kit-pro/static/media/bg-presentation.889630297390d27e8dfb.jpg')
    center top / cover no-repeat;
  opacity: 1;
  height: 50vh;
  width: 100%;
  position: absolute;
}

.header {
  opacity: 1;
  min-height: 40vh;
  height: 100%;
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* position: relative; */
}

.content {
  opacity: 0.98;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 16px;
  padding-top: 32px;
  top: 0;
  z-index: 1;
}
